RAILS_ENV=development
RACK_ENV=development
POSTGRES_DB=pag_dev
POSTGRES_USER=pag
POSTGRES_PASSWORD=pag_pass
REDIS_URL=redis://redis:6379/0
DATABASE_URL=postgres://pag:pag_pass@db:5432/pag_dev
SIDEKIQ_CONCURRENCY=18
PROVIDER_URL=https://topup-platform-product-provider.onrender.com/provider/topup